header{
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  background: #55a191;
  border-bottom: 5px;
}

header input{
  height: 26px;
  width: 15vw;
  border-radius: 4px;
  border: 1px solid white;
}

header button{
  padding: 0 15px;
  width: auto;
  height: 30px;
  margin: 0 0.5rem;
  background-color: rgb(204, 255, 204);
  border-radius: 4px;
  border: 1px solid rgb(204, 255, 204);
}